.del-wrapper{
  padding: 2rem;
  border: 1px solid rgb(126, 113, 113);
  display: flex;
  width: 70vw;
  border-radius: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.del-input-group{
  display: flex;
  width: 100%;
  gap: 1rem;
  justify-content: space-between;
}

.del-input{
  flex: 2;
}
.del-btn{
  width: 100%;
  margin-top: 1rem;
  font-size: 1.5rem;
}