.ap-wrapper{
  border: 1px solid  rgb(219, 212, 201);
  padding: 15px 25px;
  border-radius: 15px;
}
form {
  display: flex;
  flex-direction: column;
  font-size: 25px;
  gap: 2rem;
}

.input-group {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  justify-content: space-between;
  border-top: 1px solid rgb(219, 212, 201);
  padding-top: 1rem;
}
input {
  background-color: rgb(219, 212, 201);
  outline: none;
  height: 30px;
  width: 200px;
  border-radius: 10px;
  padding: 5px;
  font-size: medium;
  border: none;
}
textarea {
  width: 200px;
  height: 100px;
  padding: 10px;
  outline: none;
  border: none;
  background-color: rgb(219, 212, 201);
  border-radius: 15px;
}
button {
  padding: 15px 15px;
  outline: none;
  background-color: rgb(150, 150, 231);
  border-radius: 15px;
}

.color-btn{
  height: 30px;

  text-align: center;
  padding-top: 0;
  padding-bottom: 0;
}
.tech{
  display: flex;
  gap: 1rem;
  margin-bottom: 10px;
  width: 100%;
}

small {
  color: red;
  text-align: center;
}
.tag {
  width: 100%;
}
label{font-size: 20px;}

.tags{
  display: flex;
  flex-direction: column;
  width: 100%;
}